SOATestApplication/CalculatorDemoProject/SOA/Schemas/CalculatorDemo.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org"
        elementFormDefault="qualified">
  <element name="input">
    <complexType>
      <sequence>
        <element name="number1" type="integer"/>
        <element name="number2" type="integer"/>
      </sequence>
    </complexType>
  </element>
  <element name="output">
    <complexType>
      <sequence>
        <element name="result" type="integer"/>
      </sequence>
    </complexType>
  </element>
</schema>
